@charset "utf-8";

/* CSS Document */

html, body
{
	padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: Myriad Pro;
    color: #555555;
    font-size: 14px;
}

a
{
	font-family: Myriad Pro;
	font-weight: 700;
	color: #555555;
	text-decoration: none;
}

b
{
	font-family: Myriad Pro;
	font-weight: 600;
	font-weight: normal;
}

tr > td
{
	padding-bottom: 15px;
}

tr > th
{
	padding-bottom: 15px;
}

.light-gray
{
	color: #aeaeae;
}

a:hover{
	color: black;
}

h1
{
	font-weight: normal;
	font-size: 22px;
}

h2
{
	font-weight: normal;
	font-size: 18px;
}
	
.wrapper
{
	min-height:100%;
	width: 860px;
	margin: 0px auto -2em;
	background-color: #FFF;
	position: relative;
}

.toplogo
{
	float:left;
	padding-left: 20px;
}

.footer
{
	
	width: 860px;
	float: none;
	font-size: 12px;
	margin: 0px auto;
	font-weight: bold;
	position: absolute;
	bottom: 0;
}

textarea
{
	resize: none;
}

.textarea
{
	white-space:pre-wrap;
}

.inputBox
{
	margin-bottom: 10px;
	display: inline-block;
	zoom: 1; /* ie7 hack for display:inline-block */
	*display: inline;
	border: solid 1px #d2d2d2;
	padding: 4px 5px 5px;
	width:204px;
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	box-shadow: 0 1px 0px rgba(0,0,0,.1);
	
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}

.square-avatar
{
	margin: 0;
	padding: 0;
	border-style: solid;
	border-color: #e2e2e2;
	border-width: 1px;
	width: 160px;
	height: 160px;
}

.square-avatar:hover
{
	border-color: #555555;
}

.square-avatar td
{
	vertical-align: middle;
	text-align: center;
}

.login
{
	float: left;
	margin: 0px auto;
	width: 100%;
}

.register
{
	float: left;
	margin: 0px auto;
	width: 100%;
	font-family: tahoma, Arial, Verdana;
    color: #333333;
    font-size: 12px;
}

.middle
{
	margin: 0px auto;
	width: 700px;
}

.info-box
{
	width: 160px;
	height: 320px;
	float: left;
	margin-right: 20px;
	margin-bottom: 40px;
}

.info-box .square-avatar
{
	margin-bottom: 10px;
}

.info-box div
{
	margin-top: 10px;
}

.topbuttongroup
{
	float:right;
	padding-top:15px;
	padding-right:10px
}

.topbutton
{
	padding-left: 5px;
	padding-right:5px;
}

.about
{
	float: right;
	font: smaller;
}

.hor-sep
{
	float: left;
	width:100%;
	padding-bottom: 40px;
}

.application-link
{
	float: left;
	width:160px;
	padding-right:10px;
}

.jobtitle
{
	padding-top: 10px;
	padding-bottom: 20px;
	float: left;
	width: 100%;
}

.avatar
{
	float: left;
	height: 240px;
	width: 160px;
	padding-right: 20px;
}

.employer-job
{
	float: left;
	width: 160px;
	padding-right: 20px;
}

.employer-application
{
	float: left;
	width: 160px;
	padding-right: 20px;
}

.jobseeker-resume
{
	float: left;
	width: 160px;
	padding-right: 20px;
}

.info-box-no-img
{
	width: 160px;
	height: 160px;
	padding-right:20px;
	padding-bottom: 40px;
	float: left;
}

.info-box-no-img div
{
	margin-top: 10px;
}

.resume-link
{
	width:160px;
	float:left;
	padding-right:10px;
}


.resume-title
{
	float: left;
	padding-bottom:10px;
}

.resume-info
{
	float:left;
	padding-bottom:10px;
}

.page-navigator
{
	width:100%;
	float:left;
	text-align:center;
}

.notification
{
	width:100%;
	text-align:center;
	padding-bottom:20px;
}

.job-link
{
	width:160px;
	float:left;
	padding-right:10px;
}